<#@ template language="C#" HostSpecific="True" #>
<#
var Model = (MvcTextTemplateHost)Host;
var routePrefix = "api/" + Model.ControllerRootName;
#>
<#@ assembly name="System.Data.Entity.Design" #>
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Data.Objects" #>
<#@ import namespace="System.Linq" #>
using System;
using System.Collections.Generic;
using System.Data.Entity;
using System.Data.Entity.Infrastructure;
using System.Linq;
using System.Net;
using System.Net.Http;
using System.Web.Http;
using TrackableEntities.EF;
<# if (MvcTextTemplateHost.NamespaceNeeded(Model.Namespace, Model.ModelType.Namespace))
 { #>
using <#= Model.ModelType.Namespace #>;
<# } #>
<# if (Model.ContextType.Namespace != Model.ModelType.Namespace && MvcTextTemplateHost.NamespaceNeeded(Model.Namespace, Model.ContextType.Namespace))
 { #>
using <#= Model.ContextType.Namespace #>;
<# } #>

namespace <#= Model.Namespace #>
{
<#
    var modelName = Model.ModelType.Name;
    var entitySetName = Model.EntitySetName;
    var modelVariable = modelName.ToLowerInvariant();
    var lambdaVariable = modelVariable.Substring(0, 1).ToLower();
    var entitySetVariable = entitySetName.ToLowerInvariant();
    var primaryKey = Model.PrimaryKeys[0];
    var lambdaVar = modelVariable[0];
    var pluralizer = Model.Pluralizer;
#>
    public class <#= Model.ControllerName #> : ApiController
    {
        private <#= Model.ContextType.Name #> db = new <#= Model.ContextType.Name #>();

        // GET <#= routePrefix #>
        public IEnumerable<<#= modelName #>> Get<#= pluralizer.Pluralize(modelName) #>()
        {
<#  var includeExpressions = String.Join("", Model.RelatedProperties.Values.Select(property => String.Format(".Include({0} => {0}.{1})", lambdaVar, property.PropertyName)));
#>
<# if(!String.IsNullOrEmpty(includeExpressions)) { #>
            IEnumerable<<#= modelName #>> <#= entitySetVariable #> = db.<#= entitySetName #>
				<#= includeExpressions #>
				.AsEnumerable();
            return <#= entitySetVariable #>;
<# } else { #>
            return db.<#= entitySetName #><#= includeExpressions #>.AsEnumerable();
<# } #>
        }

        // GET <#= routePrefix #>/5
        public <#= modelName #> Get<#= modelName #>(<#= primaryKey.ShortTypeName #> id)
        {
            <#= modelName #> <#= modelVariable #> = db.<#= entitySetName #>
				<#= includeExpressions #>
                .SingleOrDefault(<#= lambdaVariable #> => <#= lambdaVariable #>.<#= primaryKey.Name #> == id);
            if (<#= modelVariable #> == null)
            {
                throw new HttpResponseException(Request.CreateResponse(HttpStatusCode.NotFound));
            }

            return <#= modelVariable #>;
        }

        // PUT <#= routePrefix #>/5
        public HttpResponseMessage Put<#= modelName #>(<#= modelName #> <#= modelVariable #>)
        {
            if (!ModelState.IsValid)
            {
                return Request.CreateErrorResponse(HttpStatusCode.BadRequest, ModelState);
            }

            try
            {
				// Update object graph entity state
                db.ApplyChanges(<#= modelVariable #>);
                db.SaveChanges();

                HttpResponseMessage response = Request.CreateResponse(HttpStatusCode.OK, <#= modelVariable #>);
                return response;
            }
            catch (DbUpdateConcurrencyException ex)
            {
                return Request.CreateErrorResponse(HttpStatusCode.NotFound, ex);
            }
        }

        // POST <#= routePrefix #>
        public HttpResponseMessage Post<#= modelName #>(<#= modelName #> <#= modelVariable #>)
        {
            if (ModelState.IsValid)
            {
				db.<#= entitySetName #>.Add(<#= modelVariable #>);
                db.SaveChanges();

                HttpResponseMessage response = Request.CreateResponse(HttpStatusCode.Created, <#= modelVariable #>);
                response.Headers.Location = new Uri(Url.Link("DefaultApi", new { id = <#= modelVariable #>.<#= primaryKey.Name #> }));
                return response;
            }
            return Request.CreateErrorResponse(HttpStatusCode.BadRequest, ModelState);
        }

        // DELETE <#= routePrefix #>/5
        public HttpResponseMessage Delete<#= modelName #>(<#= modelName #> <#= modelVariable #>)
        {
			// TODO: Set entity concurrency property (rowversion)
            var deleted = new <#= modelName #> { <#= primaryKey.Name #> = <#= modelVariable #>.<#= primaryKey.Name #> };
            db.<#= entitySetName #>.Attach(deleted);
            db.<#= entitySetName #>.Remove(deleted);

            try
            {
                db.SaveChanges();
            }
            catch (DbUpdateConcurrencyException ex)
            {
                return Request.CreateErrorResponse(HttpStatusCode.NotFound, ex);
            }

            return Request.CreateResponse(HttpStatusCode.OK, <#= modelVariable #>);
        }

        protected override void Dispose(bool disposing)
        {
            db.Dispose();
            base.Dispose(disposing);
        }
    }
}